HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Terraform ###
.terraform/
terraform.tfstate
terraform.tfstate.backup

### Deploy files ###
deploy.zip
deploy/
*.jar

### Terraform ###
.terraform
*.tfstate
*.tfstate.*
